body{
    background: url("Fondo.jpg");  
}
.contenedor{
position: absolute;
           }  
#titulo{
position: absolute;
font-style: italic;
font-weight: bold;
} 
#min{
    width:100%;  
    left:0;
    bottom:0;
    right:0;
}
.titulo_1{
font-size: 300%;
color: white;
top: 1%;
left: 25%;
}
.titulo_3{
top: 7%;
left: 36%;
color: white;
font-size: 250%;
}
.head{
height:15%;
background-color:#595656;
}
.had2{
height:5%;
background-color:#2e8515;
    }

#logo{
height:100%;;
width:9%;
margin-left: 15%;
    }

 .pri{
height:68%;
background-image: url("pasto.jpg");
opacity: 0.8;
padding: 3%;
 }
 .texto1{
color:white;
font-size: 400%;
 }
 #primera{
     position: absolute;
     margin-left: 90%;
     height:150; 
     width:400
 }
.footer{
    color: white;
    font-size: 200%;
    margin-top: 4%;
    margin-left: 20%;
}
.footer2{
    height:25%;
background-color:#595656;
}
.dos{
    height:68%;
    background-image: url("fondo2.jpg");
    opacity: 0.8;
    padding: 3%; 
}